colors1 {
  color: #F0A3A4;
  color: #C5A7A7;
  color: #9B7A7A;
  color: #704646;
  color: #462020;
  color: #330F0F;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9B7A7A;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #462020;
  color: antiquewhite;
  font-size: 10em;
  font-weight: 600;
  padding: 5px 50px;
  margin: 20px 2em;
}
.diceBox {
  background-color: #F0A3A4;
  margin: 10px 0;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  color: #C5A7A7;
}
.dice {
  background-color: #704646;
  margin: 2em;
  font-size: 3em;
  width: 100%;
  text-align: center;
  padding: 15px 15px 5px 15px;
  height: 70px;
  border-radius: 30px;
}
button {
  height: 50px;
  width: 250px;
  background-color: #330F0F;
  color: antiquewhite;
  font-size: 30px;
  border-radius: 15px;
}