html, body {
    margin: 10px;
    background-color: #506663;
    font-family: sans-serif;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#header {
    background-color:  #268082;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    margin: 0 10px;
    border-radius: 20px;
}
#header > h1 {
    color:#6BFAFF;
    font-size: 55px;
    font-weight: bold;
}
#header > h2 {
    color:#E6AB77;
    font-size: 35px;
    text-align: center;
}
nav {
    background-color: #ab6157;
    border-radius: 15px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 8px;
    margin: 0px 0px 5px 0px;
    position: sticky;
    top: 15px;
    display: flex;
    justify-content: space-between;
}
nav > button {
    color: #78E5D5;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    padding: 3px;
    margin: 0 30px 0 30px;
    background-color: #665A50;  
}
#product-container {
    border: 2px dashed white;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    margin: 5px;
}
.product {
    background-color: #E6AB77;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}
.product-header{
    margin: 0px;
    text-align: center;
    color: #E68477;
    font-size: 43px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #665A50;
    border-radius: 25px 25px 0px 0px;
}
.options-bar {
    display: flex;
    justify-content: space-around;
    color:#78E5D5;
    background-color: #665A50;
    font-size: 20px;
}
.options {
    margin: 5px;
    padding: 5px;
}
.container {
    margin: 10px;
    width: 410px;
    height: 250px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.container img {
    width: 100%;
    height: auto;

}
.product > p {
    margin: 10px 0px 0px 0px;
    color: white;
    background-color:  #268082;
    padding: 8px;
    font-size: 20px;
    width: 410px;
    height: 190px;
}
.base-bar {
    background-color: #665A50;
    padding: 10px;
    border-radius: 0 0 25px 25px;
}
.color-display {
    background-color: #6BFAFF;
}


/* #dice-bag {
    grid-column: 1 / 2;
}
#mushroom {
    grid-column: 2 / 3;
}
#lavender {
    grid-column: 3 / 4;
} */